{% extends 'base.html' %}

{% block title %}
    CDA
{% endblock %}

{% block content %}

    <div class="container">

        <h2>Wells are sections with grey backgrounds</h2>
        <div class="well well-small">
            Basic well
        </div>

        <div class="alert alert-success">Congratulations, you just won!</div>

        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>you just won!
        </div>

        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>Delete it all!
        </div>


    </div>


{% endblock %}

